<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | Royal Stay Hotel</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>

    <!-- Header -->

    <header>

    <div class="navbar">

        <h2 class="logo">Royal Stay</h2>

       <ul class="nav-links">
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('about') }}">About</a></li>
    <li><a href="{{ url_for('rooms') }}">Rooms</a></li>
    <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
    <li><a href="{{ url_for('services') }}">Services</a></li>
    <li><a href="{{ url_for('booking') }}">Booking</a></li>
    <li><a href="{{ url_for('contact') }}">Contact</a></li>
</ul>
        <div class="menu-btn"><i class="fa-solid fa-bars"></i></div>

    </div>

</header>

    <!-- Contact -->

    <section class="contact">

        <h1>Contact Us</h1>

        <p><b>Address:</b> New Delhi, India</p>

        <p><b>Phone:</b> +91 98765 43210</p>

        <p><b>Email:</b> krishnasaxena4378@gmail.com</p>

        <form id="contactForm">

            <input type="text" placeholder="Your Name" required>

            <input type="email" placeholder="Your Email" required>

            <textarea placeholder="Your Message" rows="5" required></textarea>

            <button type="submit">Send Message</button>

        </form>
        <div class="map">
  <iframe
    src="https://www.google.com/maps/embed?pb=...."
    width="100%"
    height="350"
    style="border:0;"
    allowfullscreen=""
    loading="lazy">
</iframe>
</div>

    </section>

    <!-- Footer -->

    <footer>
    <p>© 2026 Royal Stay Hotel | Created by Krishna Saxena</p>
</footer>

    </footer>

    <script src="{{ url_for('static', filename='java.js') }}"></script>

</body>
</html>
